body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
}

td, th {
border: 1px solid #000000;
text-align: left;
padding: 6px;
}